
<h1 *ngIf="geo$ | async as geoResponse">
  {{geoResponse.geo.city}}, {{geoResponse.geo.regionName}}, {{geoResponse.geo.countryName}}
</h1>

<div class="alerts-container" *ngIf="alert$ | async as alert">
  <p class="alert" *ngFor="let feature of alert.features">
    {{feature.properties.headline}}
  </p>
</div>

<div class="container">
  <div class="day-container">
    <div class="today day" *ngIf="current[0] as period">
      <div class="day-name">{{period.name}}</div>
      <div class="day-icon icon"><img src="{{period.icon}}"></div>
      <div class="day-temperature temperature">{{period.temperature}}</div>
    </div>
    <div class="tonight night" *ngIf="current[1] as period">
      <div class="day-name">{{period.name}}</div>
      <div class="day-icon icon"><img src="{{period.icon}}"></div>
      <div class="day-temperature temperature">{{period.temperature}}</div>
    </div>
  </div>
  <div class="day-container" *ngFor="let period of periods">
    <div class="today day">
      <div class="day-name">{{period[0].name}}</div>
      <div class="day-icon icon"><img src="{{period[0].icon}}"></div>
      <div class="day-temperature temperature">{{period[0].temperature}}</div>
    </div>
    <div class="tonight night">
      <div class="day-name">{{period[1].name}}</div>
      <div class="day-icon icon"><img src="{{period[1].icon}}"></div>
      <div class="day-temperature temperature">{{period[1].temperature}}</div>
    </div>
  </div>
</div>

