<ng-container *ngIf="ready$ | async">

  <div class="icon-bar">
    <div matTooltip="Refresh"><button mat-fab (click)="refresh()"><mat-icon>refresh</mat-icon></button></div>
    <div matTooltip="Change Location"><button mat-fab (click)="chooseLocation()"><mat-icon>more_horiz</mat-icon></button></div>
  </div>

  <h1>
    <span>{{coordinates.display_name}}</span>
  </h1>

  <div class="daily-forecast-container">
    <div class="day-container"
         *ngFor="let day of dailyForecast.days; let index = index"
         matTooltip="{{day.weatherCode | weatherDescription}}"
         [ngClass]="(index === 5 || index === 6) ? 'drop-if-mobile' : ''"
         (click)="setSelectedDay(day)">
      <div class="daily-date">{{day.date | date:'E'}}</div>
      <!--    <div class="icon"><mat-icon color="primary">{{day.weatherCode | weatherIcon}}</mat-icon></div>-->
      <div class="icon">
        <img src="{{day | weatherIcon}}"
             alt="{{day.weatherCode | weatherDescription}}" width="48px" height="48px">
      </div>
      <!--    <div class="icon">{{day.weatherCode | weatherDescription}}</div>-->
      <!--    <div class="icon">{{day.weatherCode}}</div>-->
      <div class="max">{{day.tempMax}}</div>
      <div class="temp-min">{{day.tempMin}}</div>
    </div>
  </div>

  <div class="hourly-title">{{hourlyForecast.hours[0].hour | date:'EEEE, LLLL d, Y'}} {{timezone}}</div>
  <div class="hourly-forecast-container">
    <div class="hour-container"
         *ngFor="let hour of hourlyForecast.hours; let index = index"
         [ngClass]="(index === 5 || index === 6) ? 'drop-if-mobile' : ''">
      <div class="hourly-hour">{{hour.hour | date:'h:mma'}}</div>
      <div class="hourly-icon">
        <img src="{{hour | weatherIcon:hour.hour:forecastDay.sunrise:forecastDay.sunset}}"
             alt="{{hour.weatherCode | weatherDescription}}" width="48px" height="48px">
      </div>
      <div class="hourly-temp">{{hour.temp}}</div>
      <!--    <div class="hourly-description">{{hour.weathercode | weatherDescription}}</div>-->
    </div>
  </div>

</ng-container>
